.theme-panel {
  position: fixed;
  right: 0;
  top: 25%;
  z-index: 100;
  transition: 0.4s;
  transform: translateX(100%);
}

.theme-panel.open {
  transform: translateX(0);
}

.theme-body {
  background-color: #495fef;
  border: transparent;
  max-width: 185px;
  padding: 15px 13px;
  text-align: center;
  border-bottom-left-radius: 25px;
  position: relative;
}

.theme-body > span {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.09px;
  line-height: 26px;
  padding-bottom: 8px;
  display: inline-flex;
}

.btn-group {
  box-shadow: 0 12px 34px rgba(22, 28, 45, 0.2);
  border-radius: 33px;
  background-color: #fff;
  overflow: hidden;
  display:flex;
  max-width: 153px;
  justify-content: center;
}

.theme-body .btn-group .switcher-btn {
  background-color: transparent;
  border: none;
  width: 50%;
  font-size: 11px;
  font-weight: 700;
  height: 40px;
  padding-left: 15px; 
  padding-right: 15px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.theme-body .btn-group .switcher-btn.active {
  background-color: #ced4e7;
}

.navbar {
  color: var(--color-headings);
  background-color: var(--color-panel);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0px -10px 19px 4px rgba(0, 0, 0, 0.7);
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
}

.navbar-nav li {
  padding: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.25s ease-in;
}

.navbar-nav li:hover {
  cursor: pointer;
  color: blue;
  background-color: rgba(55, 55, 55, 0.1);
}
